{#<!-- Une boîte de dialogue qui contient un formulaire -->#}
{#<dialog id="dialogModal">#}
{#    <form method="dialog">#}
{#        <p>vous devez etre connecté pour aimé l'article</p>#}
{#        <menu>#}
{#            <button value="cancel">Annuler</button>#}
{#            <button id="dialogBtnLogin" value="default">Login</button>#}
{#        </menu>#}
{#    </form>#}
{#</dialog>#}

{#le button d'appel de la modal se trouve dans postById.html.twig#}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous devez être connecté pour liker.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a href="{{ path('login') }}">
                    <button type="button" class="btn btn-outline-success">Connexion</button>
                </a>
            </div>
        </div>
    </div>
</div>